h1 {
    text-align: center;
    background-color: black;
    color: white;
}
#todoTitle{
    margin-top: 10px;
}

#spand{
    margin-top: 10px;

}

a {
    text-decoration: none;
}



li button {
    background-color: black;
    color:white;
}

.form * {
    margin: 0;
    display: inline;
    float: left;
}

.inputs {
    width: 90%;
    font-size: 3em;
    border-radius: 10px 0 0 10px;
    outline: none;
    text-align: center;
}

.inputButton {
    border: 0;
    width:9%;
    font-size: 3em;
    border-radius: 0 10px 10px 0;
}
header{

    font-size:50px;
    color:gray;
    text-align: center;
}
.lists {
    display: block;
    font-size: 2em;
    list-style-type: none;
    padding: 0;
}
.lists{
    margin-top: 50px;

}
.lists li {
    text-align: center;
    height: 2em;
    background-color: gray;
    padding: 0
}

.lists li:nth-child(odd) {
    background-color: lightgray;
}

.lists li .item {
    position: absolute;
    width: 90%;
    font-size: 1.5em;
    left: 0;
    height: inherit;
}

.lists li .clickable:hover {
    cursor: pointer;
}

.lists li button {
    float: right;
    width: 9%;
    height: inherit;
    font-size: 1.5em;
}




#listoftodo{

    width: 1300px;
    height: 100px;
    text-align: center;

    font-size: 40px;
}
